*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Container background */

.main-container {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
}

/* Content container */

.content-container {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/* Cards */

.cards{
    background-color: aqua;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cards .card-front {
    background-image: url(images/bg-card-front.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 14rem;
    border-radius: 10px;
    
}

.cards .card-back {
    background-image: url(images/bg-card-back.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 14rem;
    border-radius: 10px;
    margin-top: 30px;
    align-self: flex-end;
}

/* Form */

form {
    background-color: blue;
    width: 50%;
}

form label {
    display: block;
}

.date-cvc {
    display: flex;
}

.date-cvc input {
    width: 40px;
}